* {
	border: 0;
	font-family: 'Calibri', 'Arial', sans-serif;
	font-size: 11pt;
	background-color: #202020;
	color: #fff7d5;
}

#container {
	margin: 5px;
	padding: 5px;
	margin-left: 64px;
	background-color: #202020;
	color: #fff7d5;
}

#header {
	float: left;
	padding-top: 24px;
	padding-bottom: 48px;
}

#menu {
	margin-top: 16px;
	float: left;
	margin-bottom: 64px;
}

#about, #download, #examples, #demos, #misc {
	width: 480px;
	float: left;
	margin-right: 24px;
}

#resources, #info {
	width: 320px;
	float: left;
}

.clear {
	clear: both;
}

#footer {
	margin-top: 300px;
	height: 20px;
	margin-bottom: 32px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#menu ul li, #subMenu ul li {
	float: left;
	padding-right: 6px;
}

h1 {
	font-size: 14pt;
	font-weight: normal;
}

h2, h3, h4, h5, th {
	font-size: 12pt;
	font-weight: normal;
	margin-bottom: 4px;
	color: #ff2828;
}

p {
	font-size: 11pt;
	width: 90%;
	margin-bottom: 32px;
}

pre, code {
	font-family: 'Liberation Mono', 'Fira Code', 'Consolas', 'Source Code Pro', monospace;
	font-size: 11pt;
	line-height: normal;
}

hr {
	border: 0;
	height: 1px;
	margin-bottom: 24px;
}

a {
	color: #1475b3;
	text-decoration: underline;
	font-weight: normal;
}

#footer, #menu {
	background-color: #232323;
	color: #fff7d5;
}